{% extends 'blog/base.html' %}

{% block content %}
{% if not posts.exists %}
<div class="post ">
        <p class="comment1" >
               <em> There are no pending posts.</em>
        </p>
</div>
{% else %}
{% for post in posts %}
<div class="post">
        <p class="date text-right">created on:{{ post.created_date|date:'d-m-Y' }}</p>
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h1>
        <p>{{post.text|truncatechars:200}}</p>
</div>
{% endfor %}
{% endif %}
{% endblock %}